body{font-family: 'SeoulNamsan', 'Noto Sans KR', 'Nanum Gothic', sans-serif; color:#333;}
a{color:#333; text-decoration: none;}
.clearfix::after{content:''; display:block; clear: both;}
button{margin:0; padding:0; border:none; background:none;}
button:focus {outline:0;}